/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

/*
body {
    margin: 8px auto;
    background: #fff;
    width: 700px;
}
*/

.flag.swedish {
    width: 600px;
    height: 400px;
    background-color: blue;
}

.flag.swedish .part1 {
    position: absolute;
    left: 200px;
    width: 80px;
    height: 400px;
    background-color: yellow;
}

.flag.swedish .part2 {
    position: absolute;
    top: 160px;
    width: 600px;
    height: 80px;
    background-color: yellow;
}


.duck {
    width: 128px;
    height: 128px;
    border: 1px solid black;
    background-image: url(../img/duck.jpg);
    background-size: 128px;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid #000;
}

/* .duck {
    width: 64px;
    height: 64px;
    border: 1px solid black;
    background-image: url(../img/duck.jpg);
    background-size: 64px;
    position: absolute;
    top: 10px;
    left: 10px;
} */

.play {
    margin: 8px auto;
    height: 400px;
    width: 400px;
    background-color: #eee;
}

.site-header {
    width: 100%;
    background-color: pink;
}

nav {
	text-align: center;
}

nav a {
	font-size: 24px;
	display: inline-block;
	padding: 8px;
	margin: 8px;
	border: 4px dotted aliceblue;
}

nav a:hover {
    color: red;
    font-size: 16px;
}

nav a:active {
    color: black;
    font-size: 48px;
}

.main {
    background-color: lime;
    padding-top: 1em;
}

article {
	margin: 8px auto;
	background-color: rgba(255, 15, 32, 0.5);
	max-width: 700px;
	min-height: 20em;
	border-radius: 50px;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
    /*opacity: 0.5;*/
}

.right {
    float: right;
}

.site-footer {
    width: 100%;
    background-color: #333;
    color: green;
    padding: 3em;
    text-align: center;
}
